.App {
  text-align: center;
}

.floating-text {
  animation: floatingAnimation 2s ease-in-out infinite;
}

@keyframes floatingAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px); /* Adjust the value to change the floating distance */
  }
  100% {
    transform: translateY(0);
  }
}

